#chapter_buttons button.display
{
	height: 45px;
	width: 140px;
	border: 0 none;
}

#chapter_buttons button.no_display
{
	display: none;
}

/* CSS for Intro button*/

#chapter_container_Intro.active
{
	background:url('../../../image/intro-active.png');
}

#chapter_container_Intro.selected
{
	background:url('../../../image/intro-selected.png');
}

#chapter_container_Intro.watched
{
	background:url('../../../image/intro-watched.png');
}

#chapter_container_Intro.disabled
{
	background:url('../../../image/intro-disabled.png');
}

/* CSS for WhatsNew button*/

#chapter_container_WhatsNew.active
{
	background:url('../../../image/whatsnew-active.png');
}

#chapter_container_WhatsNew.selected
{
	background:url('../../../image/whatsnew-selected.png');
}

#chapter_container_WhatsNew.watched
{
	background:url('../../../image/whatsnew-watched.png');
}

#chapter_container_WhatsNew.disabled
{
	background:url('../../../image/whatsnew-disabled.png');
}

/* CSS for Exterior button*/

#chapter_container_Exterior.active
{
	background:url('../../../image/exterior-active.png');
}

#chapter_container_Exterior.selected
{
	background:url('../../../image/exterior-selected.png');
}

#chapter_container_Exterior.watched
{
	background:url('../../../image/exterior-watched.png');
}

#chapter_container_Exterior.disabled
{
	background:url('../../../image/exterior-disabled.png');
}

/* CSS for the Interior button*/

#chapter_container_Interior.active
{
	background:url('../../../image/interior-active.png');
}

#chapter_container_Interior.selected
{
	background:url('../../../image/interior-selected.png');
}

#chapter_container_Interior.watched
{
	background:url('../../../image/interior-watched.png');
}

#chapter_container_Interior.disabled
{
	background:url('../../../image/interior-disabled.png');
}

/* CSS for the Power button*/

#chapter_container_Power.active
{
	background:url('../../../image/power-active.png');
}

#chapter_container_Power.selected
{
	background:url('../../../image/power-selected.png');
}

#chapter_container_Power.watched
{
	background:url('../../../image/power-watched.png');
}

#chapter_container_Power.disabled
{
	background:url('../../../image/power-disabled.png');
}

/* CSS for the Fuel button*/

#chapter_container_Fuel.active
{
	background:url('../../../image/fuel-active.png');
}

#chapter_container_Fuel.selected
{
	background:url('../../../image/fuel-selected.png');
}

#chapter_container_Fuel.watched
{
	background:url('../../../image/fuel-watched.png');
}

#chapter_container_Fuel.disabled
{
	background:url('../../../image/fuel-disabled.png');
}

/* CSS for the Features button*/

#chapter_container_Features.active
{
	background:url('../../../image/features-active.png');
}

#chapter_container_Features.selected
{
	background:url('../../../image/features-selected.png');
}

#chapter_container_Features.watched
{
	background:url('../../../image/features-watched.png');
}

#chapter_container_Features.disabled
{
	background:url('../../../image/features-disabled.png');
}

/* CSS for the Safety button*/

#chapter_container_Safety.active
{
	background:url('../../../image/safety-active.png');
}

#chapter_container_Safety.selected
{
	background:url('../../../image/safety-selected.png');
}

#chapter_container_Safety.watched
{
	background:url('../../../image/safety-watched.png');
}

#chapter_container_Safety.disabled
{
	background:url('../../../image/safety-disabled.png');
}

/* CSS for the Pricing button*/

#chapter_container_Pricing.active
{
	background:url('../../../image/pricing-active.png');
}

#chapter_container_Pricing.selected
{
	background:url('../../../image/pricing-selected.png');
}

#chapter_container_Pricing.watched
{
	background:url('../../../image/pricing-watched.png');
}

#chapter_container_Pricing.disabled
{
	background:url('../../../image/pricing-disabled.png');
}

/* CSS for the Warranty button*/

#chapter_container_Warranty.active
{
	background:url('../../../image/warranty-active.png');
}

#chapter_container_Warranty.selected
{
	background:url('../../../image/warranty-selected.png');
}

#chapter_container_Warranty.watched
{
	background:url('../../../image/warranty-watched.png');
}

#chapter_container_Warranty.disabled
{
	background:url('../../../image/warranty-disabled.png');
}

/* CSS for the Summary button*/

#chapter_container_Summary.active
{
	background:url('../../../image/summary-active.png');
}

#chapter_container_Summary.selected
{
	background:url('../../../image/summary-selected.png');
}

#chapter_container_Summary.watched
{
	background:url('../../../image/summary-watched.png');
}

#chapter_container_Summary.disabled
{
	background:url('../../../image/summary-disabled.png');
}

/* CSS for the Overview button*/

#chapter_container_Overview.active
{
	background:url('../../../image/overview-active.png');
}

#chapter_container_Overview.selected
{
	background:url('../../../image/overview-selected.png');
}

#chapter_container_Overview.watched
{
	background:url('../../../image/overview-watched.png');
}

#chapter_container_Overview.disabled
{
	background:url('../../../image/overview-disabled.png');
}

/* CSS for the Performance button*/

#chapter_container_Performance.active
{
	background:url('../../../image/performance-active.png');
}

#chapter_container_Performance.selected
{
	background:url('../../../image/performance-selected.png');
}

#chapter_container_Performance.watched
{
	background:url('../../../image/performance-watched.png');
}

#chapter_container_Performance.disabled
{
	background:url('../../../image/performance-disabled.png');
}

/* CSS for the MPG button*/

#chapter_container_MPG.active
{
	background:url('../../../image/mpg-active.png');
}

#chapter_container_MPG.selected
{
	background:url('../../../image/mpg-selected.png');
}

#chapter_container_MPG.watched
{
	background:url('../../../image/mpg-watched.png');
}

#chapter_container_MPG.disabled
{
	background:url('../../../image/mpg-disabled.png');
}

/*CSS for the Honors button*/

#chapter_container_Honors.active
{
	background:url('../../../image/honors-active.png');
}

#chapter_container_Honors.selected
{
	background:url('../../../image/honors-selected.png');
}

#chapter_container_Honors.watched
{
	background:url('../../../image/honors-watched.png');
}

#chapter_container_Honors.disabled
{
	background:url('../../../image/honors-disabled.png');
}

/* CSS for the Get Price button*/

#chapter_container_Get_Price.active
{
	background:url('../../../image/get-price.png');
}

#chapter_container_Get_Price.disabled
{
	background:url('../../../image/getprice-disabled.png');
}