#dvs_bc_player
{
	display: inline-block;
	vertical-align: top;
	/* position: static; */
}

#chapter_buttons
{
	display: inline-block;
	vertical-align: top;
	position: static;
	margin-top:10px;
	margin-left:-70px;
}

#site_content
{
	max-width: none;
}