#contact_dealer
{
	text-align: center;
}

#contact_dealer p
{
	font-size: 12px;
	font-family: Arial;
}

#name
{
	margin-top: 20px;
}

.inputContact
{
	width: 225px;
	font-size: 16px;
	padding: 4px;
	margin-bottom: 4px;
}

#contact_dealer textarea
{
	width: 225px;
	margin-bottom: 20px;
	font-size: 16px;
	padding: 4px;
	font-family: Arial;
}

#contact_dealer .dvs_form_button
{
	cursor: pointer;
	padding: 5px 25px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	behavior: url(border-radius.htc);
}