body:before
{
	content: 
		url('../../../image/default-intro.png')
		url('../../../image/current-intro.png')
		url('../../../image/watched-intro.png')
		url('../../../image/disabled-intro.png')
		url('../../../image/default-whatsnew.png')
		url('../../../image/current-whatsnew.png')
		url('../../../image/watched-whatsnew.png')
		url('../../../image/disabled-whatsnew.png')
		url('../../../image/default-exterior.png')
		url('../../../image/current-exterior.png')
		url('../../../image/watched-exterior.png')
		url('../../../image/disabled-exterior.png')
		url('../../../image/default-interior.png')
		url('../../../image/current-interior.png')
		url('../../../image/watched-interior.png')
		url('../../../image/disabled-interior.png')
		url('../../../image/default-power.png')
		url('../../../image/current-power.png')
		url('../../../image/watched-power.png')
		url('../../../image/disabled-power.png')
		url('../../../image/default-fuel.png')
		url('../../../image/current-fuel.png')
		url('../../../image/watched-fuel.png')
		url('../../../image/disabled-fuel.png')
		url('../../../image/default-features.png')
		url('../../../image/current-features.png')
		url('../../../image/watched-features.png')
		url('../../../image/disabled-features.png')
		url('../../../image/default-safety.png')
		url('../../../image/current-safety.png')
		url('../../../image/watched-safety.png')
		url('../../../image/disabled-safety.png')
		url('../../../image/default-pricing.png')
		url('../../../image/current-pricing.png')
		url('../../../image/watched-pricing.png')
		url('../../../image/disabled-pricing.png')
		url('../../../image/default-warranty.png')
		url('../../../image/current-warranty.png')
		url('../../../image/watched-warranty.png')
		url('../../../image/disabled-warranty.png')
		url('../../../image/default-summary.png')
		url('../../../image/current-summary.png')
		url('../../../image/watched-summary.png')
		url('../../../image/disabled-summary.png')
		url('../../../image/default-overview.png')
		url('../../../image/current-overview.png')
		url('../../../image/watched-overview.png')
		url('../../../image/disabled-overview.png')
		url('../../../image/default-performance.png')
		url('../../../image/current-performance.png')
		url('../../../image/watched-performance.png')
		url('../../../image/disabled-performance.png')
		url('../../../image/default-mpg.png')
		url('../../../image/current-mpg.png')
		url('../../../image/watched-mpg.png')
		url('../../../image/disabled-mpg.png')
		url('../../../image/default-honors.png')
		url('../../../image/current-honors.png')
		url('../../../image/watched-honors.png')
		url('../../../image/disabled-honors.png')
		/*url('../../../image/get-price.png')
		url('../../../image/getprice.png')*/
		;
	display: none;
}


.player_instructions {
font-size:14px !important;
text-align:center;
padding:0;
margin:0;
margin-top:5px;
}

body
{
/*	background: #000000 url(http://www.wtvdvs-dev.com/file/dvs/background/2013/09/963624e7a2616f81d5238b0c7a5d41d9.png);*/
	font-family: Arial;
}

a:hover
{
	cursor: pointer;
}

#site_content {
	width: 885px;
	margin: 0 auto;
}

/* Main Player Container */

#player
{
	position: relative;
	/*background: #000;*/
	display: inline-block;
	vertical-align:top;
	/* margin-top: 10px; */
	padding: 10px 10px 5px 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.dvs_overlay
{
	position: absolute;
	left: 180px;
	display: none;
	width: 360px;
	text-align: center;
	top:10px !important;
}

.dvs_overlay a
{
	color:#FFFFFF;
	font-size:14px;
	font-weight:bold;
	text-shadow: 2px 2px #000000;
}

/* Main Player Subsections */

/* Left-side Player */

#dvs_bc_player
{
	display:inline-block;
	vertical-align: top;
}

/* Left-side playlist links */

/* 
#playlist_wrapper
{
	margin-top: 10px;
	height: 86px;
}
 */

#playlist_wrapper button.playlist-button
{
/*	background: #00A7AD;*/
	display: inline-block;
	vertical-align: top;
	width: 25px;
	height: 25px;
	margin-top: 40px;
	padding: 0;
	border: 0px none;
	border-radius: 20%;
	font-weight: bold;
/*	color: #000;*/
	cursor: pointer;
}

#playlist_wrapper button.playlist-button:hover
{
	opacity: 0.5;
}

#overview_playlist {
	display: inline-block;
	overflow: hidden;
	height: 105px;
	width: 625px;
}

#overview_playlist ul li {
	position: relative;
	float: left;
	background-color: #000;
}

#overview_playlist li
{
	margin-right: 3px;
	margin-left: 3px;
/*	border: 2px #00A7AD solid;*/
	height: 102px;
}

#overview_playlist ul li p {
	position: absolute;
	/*top: 35px;*/
	width: 100%;
	text-align: center;
	font-weight: bold;
	color: #fff;
	font-size: 14px;
}

#overview_playlist ul li img
{
    height: 82px;
	/*opacity: 0.5;
	filter:alpha(opacity=50);*/
}

/* Right-side chapter buttons */

#chapter_buttons 
{
	display:inline-block;
}

/*** flit77 changes PhpFoxer 25.04.2014 ****************************/
#overview_inventory {
	display: inline-block;
	overflow: hidden;
	height: 85px;
	width: 625px;
}

#overview_inventory ul li {
	position: relative;
	float: left;
	background-color: #5c5c5c;
}

#overview_inventory li
{
	margin-right: 3px;
	margin-left: 3px;
	height: 82px;
}

#overview_inventory li .inv_dvs_wrapper
{
	width: 300px;
}

#overview_inventory li .inv_dvs_avatar
{
	float: left;
	overflow: hidden;
}

#overview_inventory li .inv_dvs_info
{
	overflow: hidden;
	padding: 5px 0 0 10px;
}

#overview_inventory li .view_details
{
	margin-top: 5px;
}

#overview_inventory li p > a
{
	color: #fff;
}

#overview_inventory li .view_details a
{
	color: #d01d12;
}

#overview_inventory ul li p {
	color: #fff;
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#inventory_wrapper,
#playlist_wrapper
{
	height: auto;
}
.inventory_info_message{
	margin: 5px 0 5px 10px;
	font-weight: bold;
	color: #fff;
	height:82px;
}

button.playlist-button
{
/*	background: #00A7AD;*/
	display: inline-block;
	vertical-align: top;
	width: 25px;
	height: 25px;
	margin-top: 30px;
	padding: 0;
	border: 0px none;
	border-radius: 20%;
	font-weight: bold;
/*	color: #000;*/
	cursor: pointer;
}

button.playlist-button:hover
{
	opacity: 0.5;
}
/*** flit77 changes PhpFoxer 25.04.2014 ****************************/

/* Right bar directly to the right of the player */

#player_right {
	margin-top: 10px;
	display:inline-block;
	vertical-align:top;
	width: 190px;
	padding-left: 60px;
	text-align: center;
}

#select_new h3
{
	font-size: 1.25em;
	font-weight: bold;
	border-bottom: none;
}

#select_new ul li.init
{
	background: url("../../../image/dropdown.png");
	display: block;
	padding-top: 5px;
	height: 26px;
	width: 188px;
	margin-top: 15px;
	font-size: 15px;
	font-weight: bold;
	cursor:pointer;
}

span.init_selected {
margin-left:10px;
margin-top:5px;
}



#select_new ul ul
{
	min-width: 187px;
	background: #fff;
	padding: 4px 0px;
	border-radius: 5px;
	border: 1px #000 solid;
	display: none;
	position: absolute;
	text-align: left;
	z-index:9;
	cursor:pointer;
}

#select_new ul ul li
{
	display: block;
	padding: 4px;
	font-size: 15px;
	font-weight: normal;
	cursor:pointer;
}

#select_new li:not(.init):hover
{
	background: #EEE;
}

#dealer_links {
	margin-top: 20px;
    float: left;
    width: 66%;
}

/* 
#dealer_links p {
	color:#ff0000;
}
 */

#dealer_links a {
	display: block;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	font-family: arial;
	font-size: 1.5em;
	padding: 4px 0px;
	width: 190px;
	text-align: center;
	margin-bottom: 6px;
	text-decoration: none;
}

section#share_links
{
	display:block;
	margin-top: 23px;
	float:left;
}

/*#share_links p
{
	font-size: 16px;
}

#share_links a {
	display: block;
}*/

#video_information {
	margin-top: 25px;
	float: left;
	width: 66%
}

#video_information h3,
#video_information a
{
	text-decoration: none;
	font-size: 22px;
	font-weight: bold;
	padding-bottom: 10px;
	border-bottom: none;
}

#video_information h2
{
	font-size: 16px;
	/*color: #fff;*/
	font-weight: bold;
	padding-bottom: 10px;
}

.model_description
{
	font-size: 14px;
	/*color: #fff;*/
	/* margin-bottom: 5px; */
}

article aside {
	/*color: #fff;*/
	float: right;
	font-size: 1.25em;
	margin-top: 10px;
	width:262px;
}

aside h2 {
font-size:18px;
font-weight:bold;
margin:0;
text-align:center;
}

/*aside a,
aside a:hover
{
	color: #009c05;
}
*/

#year ul {
cursor:pointer;
}

#contact_box {
    background: #000;
    display: inline-block;
    vertical-align:top;
    margin-top: 10px;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    min-height: 310px;
    min-width: 235px;
}