#share_email_dealer
{
	text-align: center;
}

.inputShare
{
	width: 225px;
	font-size: 16px;
	padding: 4px;
	margin-bottom: 4px;
	font-family: Arial;
}

#share_email_dealer textarea
{
	width: 225px;
	font-size: 16px;
	padding: 4px;
	margin-bottom: 10px;
	font-family: Arial;
}

.dvs_form_button
{
	padding: 5px 25px;
	border-radius: 5px;
}