header
{
	width: 1117px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

header img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

nav ul
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 30px;
	font-size: 18px;
	padding-top: 5px;
	padding-left: 10px;
	margin-bottom: 10px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 5px;
	behavior: url(border-radius.htc);
	border-top-left-radius: 0px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 5px;
}

nav ul li
{
	display: inline;
	margin-right: 10px;
}

nav ul li a
{
	text-decoration: none;
}

article
{
	width: 1117px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#player
{
	display: block;
}

#overview_playlist ul
{
	margin: 0px;
	padding: 0px;
	position: relative;
	list-style-type: none;
	z-index: 1;
	width: 1595px;
	left: 0px;
}

#overview_playlist li
{
	overflow: hidden;
	float: left;
	width: 145px;
	height: 99px;
}

#dvs_geomap_container
{
	width:350px;;
	height:240px;
}

#select_new
{
	display: block;
}

#select_new ul
{
	height: 30px;
	width: 150px;
	border: 1px #000 solid;
	display: block;
}

#select_new ul li 
{
	padding: 5px 10px;
	z-index: 11;
}

#select_new ul li:not(.init)
{
	float: left;
	width: 130px;
	display: none;
}

#select_new ul li.init
{
	cursor: pointer;
}

footer
{
	width: 1117px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}